*,
*::after,
*::before {
   margin: 0 !important;
   padding: 0 !important;
   box-sizing: border-box !important;
   text-decoration: none !important;
   border: none !important;
   text-decoration: none !important;
   list-style: none !important;
}

:root{
   /* .... color.... */
   --headerbg_color1: #00008d;
   --bodybg_color:  linear-gradient(150deg, rgba(232, 237, 255, 0.5), rgba(232, 237, 255, 0.6),  rgba(232, 237, 255, 0.7), rgba(232, 237, 255, 0.8), rgba(232, 237, 255, 0.9), rgba(232, 237, 255, 0.993), rgba(1, 1, 141, 0.6)); 
   --enroltext_color1: #089afc;
   --navbg_color1: rgb(232, 237, 255);

   --gencolor: #e9e6e6;
}


a:hover {
   color: #818080 !important;
   transform: scaleY(1.1) !important;
   transition: all 0.3s !important;
}
.message {
   color: var(--enroltext_color1) !important;
   font-size: 0.7em !important;
}
.small_font{
   font-size: small !important;
}
.smaller_font{
   font-size: smaller !important;
}
.xsmall_font{
   font-size: x-small !important;
}
.xxsmall_font{
   font-size: xx-small !important;
}

.btn {
   background-color: #020c66b4 !important;
}

/* ........header section......... */
.header {
   background-color: var(--headerbg_color1) !important;
}

.header_tittleb {
   font-size: 2.5rem !important;
   font-weight: bolder !important;
 }

.nav_list li a:hover, .nav_list li .btn:hover{
   color: #020285 !important;
   transform: scaleY(1.2) !important;
   transition: all 1s !important;
}

.nav_list li .btn{
   background: none !important; 
   text-decoration: none !important;
   text-align: left !important;
   font-weight: bold !important; 
   outline: none !important;
   width: 100% !important;
}

.nav_list li .btn:focus{
   box-shadow: none !important;
}

.modal-title{
   color: #020285 !important;
}

.nav_list li:hover {
   background-color: var(--navbg_color1) !important;
   border-radius: 0.5rem !important;
}


.navbar_div {
   height: 90vh !important;
   width: 23vw !important;
   display: none !important;
   background-color: var(--headerbg_color1) !important;
   transform-origin: top center !important;
   position: absolute !important;
   left: -1rem !important;
   margin-top: 18px !important;
   box-shadow: 0 0 20px #000005 !important;
   animation: showmenu 0.5s ease-in-out forwards !important;
}

.navbar_dis {
   display: flex !important;
}

.navy{
   height: 93vh !important;
   background-color: var(--headerbg_color1) !important;
   box-shadow: 0 0 20px #000005 !important;
}


.enroll {
   padding: 0.5rem !important;
   background-color: #040480 !important;
   box-shadow: 0 0 20px #00000c !important;
}
/* ........ end of header section ..... */

.overlay{
   width: 80vw !important;
   height: auto !important;
}

.modal-content{
   background: none !important;
}

.nav_list li .modal-footer .btn{
   text-align: center !important;
   font-weight: bold !important; 
   outline: none !important;
   width: auto !important;
   background-color: antiquewhite !important;
}

.nav_list li .modal-footer .btn:hover, .nav_list li .modal-body .btn:hover{
   background-color: #020c66d3 !important;
   color: aliceblue !important;
   
}

.nav_list li .modal-body .btn{
   text-align: center !important;
   font-weight: bold !important; 
   width: auto !important;
   border: 1px solid #0d6efd !important;
}

form#f_attendance div{
   display: flex !important;
   flex-direction: column !important;
   width:30% !important;
   height: 5% !important;
}

form#f_attendance div.f_submit{
   display: flex !important;
   flex-direction: row !important;
   width: 100% !important;
}


form#f_attendance div #id_name{
   flex-direction: row !important;
   width: 100% !important;
}

form#Attfilter div{
   display: flex !important;
   flex-direction: column !important;
   width:23% !important;
   height: 5% !important;
   margin: 0.2rem !important;
}

form#Attfilter div label{
   font-size: 0.7em !important;
   color: #818080 !important;
}

form#Attfilter div input, form#Attfilter div select{
   border: 1px solid blue !important;
   border-radius: 8px !important;
}

.assign{
   bottom: 1.4rem !important;
   right: 2rem !important;
   font-size: 0.8rem !important;
   border-radius: 1rem !important;
   z-index: 1 !important;
}

form#newscheme div:nth-child(3),
form#newscheme div:nth-child(4),
form#newscheme div:nth-child(5),
form#newscheme div:nth-child(6),
form#newscheme div:nth-child(12),
form#newscheme div:nth-child(13)
{
   display: flex !important;
   flex-direction: column !important;
   width:45% !important;
}

form#newscheme div:nth-child(8){
   display: flex !important;
   flex-direction: column !important;
   width:60% !important;
}

form#newscheme div:nth-child(7){
   display: flex !important;
   flex-direction: column !important;
   width:35% !important;
}

form#newresult div:nth-child(3),
form#newresult div:nth-child(4)
{
   display: flex !important;
   flex-direction: column !important;
   width:47% !important;
}

form#newresult div:nth-child(5),
form#newresult div:nth-child(6),
form#newresult div:nth-child(7),
form#newresult div:nth-child(8),
form#newresult div:nth-child(10),
form#newresult div:nth-child(11),
form#newresult div:nth-child(12),
form#newresult div:nth-child(13)
{
   display: flex !important;
   flex-direction: column !important;
   width:20% !important;
}
